{% extends 'pengurus/base.html' %} {% block content %}
<div class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-content">
            <div class="toolbar">
              <a class="btn btn-sm btn-danger" href="{% url 'sinkron_resep' %}">+ Sinkron Resep</a> &nbsp;&nbsp;&nbsp;
              <!--Here you can write extra buttons/actions for the toolbar-->
            </div>
            <table id="bootstrap-table" class="table">
              <thead>
                <th data-field="state" data-checkbox="true"></th>
                <th data-field="id" class="text-center">NO</th>
                <th data-field="Category" data-sortable="true">Nama</th>
                <th data-field="Tags" data-sortable="true"> Tags </th>
                <th data-field="kategory" data-sortable="true">kategory</th>
                <th data-field="kategory2" data-sortable="true">Asal </th>
                <th data-field="city">Cara Pembuatan</th>
                <th>link youtube</th>
              </thead>
              <tbody>
                {% for a in resep %}

                <tr>
                  <td></td>
                  <td>{{forloop.counter}}</td>
                  <td>{{a.strMeal}}</td>
                  <td>{{a.strTags}}</td>
                  <td>{{a.strCategory}}</td>
                  <td>{{a.strArea}}</td>
                  <td>{{a.strInstructions}}</td>
                  <td>{{a.strYoutube}}</td>
                  
                  <td>
                    <a class="btn btn-sam btn-info" href="{% url 'lihat_resep' a.id %}">LIHAT</a>
                    <a onclick="return confrim('delete artikel?');" class="btn btn-sam btn-danger" href="{% url 'delete_resep' a.id %}">DELETE</a>
                  </td>
                </tr>

                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
        <!--  end card  -->
      </div>
      <!-- end col-md-12 -->
    </div>
    <!-- end row -->
  </div>
</div>

{% endblock content %}